<!DOCTYPE html>
<html ng-app="main">
<head>
    <title></title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="toaster.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js" ></script>
    <script src="http://code.angularjs.org/1.3.3/angular-animate.min.js" ></script>
    <script src="toaster.js"></script>
    <script src="script.js"></script>
</head>
    <body>
    
        <div>
            <div ng-controller="myController">
            <!-- NOTE: remove 'animation-class': 'toast-top-center' if you want it on the left top corner --> 
                <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
                <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
                <button class="btn btn-primary" style="margin: 150px 0 0 150px;" ng-click="pop()">Show toasts</button>
                <br />
                <button class="btn btn-danger" style="margin: 10px 0 0 150px;" ng-click="clear()">Clear toasts</button>
            </div>
        </div>
        
        <script type="text/ng-template" id="toasterBodyTmpl.html">
          <p>Render a default template!</p>
        </script>
        
        <script type="text/ng-template" id="myTemplate.html">
          <p>Render a custom template! {{bar}}</p>
        </script>
        
        <script type="text/ng-template" id="myTemplateWithData.html">
          <p>Here it is! {{toaster.data}}</p>
        </script>
        
    </body>
</html>

  