<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app="myapp" dir="ltr" lang="pt-BR">
  
	
<head>

	<!--  <script src="jsonp.js"></script>--> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<script src="angular.js"></script>
	<script src="angular-messages.js"></script>
	
  <script>

		angular.module("myapp", ["ngMessages"]);
		angular.module("myapp").controller("ctpController", function ($scope, $http) {
		$scope.app = "Dados do Instrumento Financeiro";
		$scope.iifs = [];
		$scope.operacoes = [];
		$scope.dataBase = "charitas";
		
		var url = "http://localhost:8080/WebServiceReynet/rest/instrumentofinanceiro/";
		
		
		$scope.obterComitente = function(){
			
			if (!angular.isDefined($scope.codDocumento) || $scope.codDocumento === '') {	
				 var response = $http.get(url + "obterCarteiraComitente/"+ $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaCartComitente = data;
			      });
				
			} else{
				
				var response = $http.get(url + "obterComitente/" + $scope.codDocumento + "/" + $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaCartComitente = data;
			      });
			} 
		}
			
		$scope.obterIF = function() {
			
			  if (!angular.isDefined($scope.ctpCodIF) || $scope.ctpCodIF === '') {
				  var response = $http.get(url + "obtetListaIF/"+$scope.dataBase);
			      response.success(function(data) {
			      $scope.iifs = data;
			      
			      $scope.operacoes = [];
			      $scope.listaCartParticipante = [];
			      $scope.listaCartComitente = [];
			      $scope.listaAgenda = [];
			      
			      });
			  }else{
				  
				  var response = $http.get(url + "obtetIF/"+ $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaIF = data;
			      });
			      
			      var response = $http.get(url + "obterOperacao/"+ $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaOperacao = data;
			      });
			      
			      var response = $http.get(url + "obterCarteiraParticipante/"+ $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaCartParticipante = data;
			      });
			      
			      var response = $http.get(url + "obterCarteiraComitente/"+ $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaCartComitente = data;
			      });
			      
			      var response = $http.get(url + "obterAgendaEvento/"+ $scope.ctpCodIF + "/" +$scope.dataBase);
			      response.success(function(data) {
			      $scope.listaEvento = data;
			      });
			      
			  }
		      
		};

		
		$scope.obterConexao = function() {
		      var response = $http.get("http://localhost:8080/WebServiceReynet/rest/instrumentofinanceiro/obtetListaIF/"+$scope.dataBase);
		      response.success(function(data) {
		      $scope.iifs = data;
		      });
		      
		      $scope.operacoes = [];
		      $scope.listaCartParticipante = [];
		      $scope.listaCartComitente = [];
		      $scope.listaAgenda = [];
		};
			
	});
		
	</script>
	
	<meta charset="UTF-8" /> 
    <!-- <meta charset="utf-8">  -->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">  -->
    <title>CetipToolsWebx</title>
    
    
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    
    
    
    

    
  </head>
  <body class="hold-transition skin-blue sidebar-mini" ng-controller="ctpController">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>CTP</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>CetipToolsWex +</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../../dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../../dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">Reinaldo Santana</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      Reinaldo Santana - COSIPB
                      <small>Analista de Sistemas</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Reinaldo Santana</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Smart Menu</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Operações</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="../../index.html"><i class="fa fa-circle-o"></i> Consulta Operações</a></li>
                <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Consulta Agenda de Eventos</a></li>
                <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Consulta Custódia</a></li>
              </ul>
            </li>
          <ul>  
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            CetipToolsWebx
            <small>Consulta Geral de Ativos</small>
          </h1>
          
		  
		  
		  <div>
 			<small>Ambientes:</small>
 			<select name="Ambiente" id="ambiente" size="1" ng-model="dataBase" ng-change="obterConexao()">
	  		<option value="charitas" selected="selected">charitas</option>
	  		<option value="centro">centro</option>
	  		<option value="leblon">leblon</option>
	  		<option value="penha">penha</option>
			</select>
	
			<small>Código IF: </small>
			<input type="text" name="codIF" ng-model="ctpCodIF">
			<button ng-click="obterIF()">Consultar</button>
		</div>
		  
   </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><b>Instrumento Financeiro</b></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="tblIF" class="table table-bordered table-hover">
				  <thead>
						<tr>
							<th>Tipo IF</th>
							<th>Código IF</th>
							<th>Situação</th>
							
						</tr>
					</thead> 
					<tbody>
						<tr ng-repeat="iif in listaIF">				
							<td>{{iif.codTipoIF}}</td>
							<td>{{iif.codIF}}</td>				
							<td>{{iif.codSituacaoIF}}</td>
							
						</tr>
					</tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
              
              <!--  INI OPERACAO -->
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><b>Lista de Operações</b></h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                  <table id="tblIF" class="table table-bordered table-hover">
                  
					<thead>
						<tr>
							<th>Código Operacao</th>
							<th>Tipo Operacao</th>
							<th>Data Operação</th>
							<th>Data Financeiro</th>
							
						</tr>
					</thead> 
					<tbody>
						<tr ng-repeat="operacao in listaOperacao">				
							<td>{{operacao.codOperacao}}</td>
							<td>{{operacao.tipoOperacao}}</td>
							<td>{{operacao.dataOperacao}}</td>				
							<td>{{operacao.dataFinanceiro}}</td>
						</tr>
					</tbody>	
				</table>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
             <!--  FIM OPERACAO --> 
             
             
             
             <!--  INI CARTEIRA PARTICIPANTE -->
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><b>Carteira Participante</b></h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                  <table id="tblIF" class="table table-bordered table-hover">
                  
					<thead>
						<tr>
							<th>Tipo Posição Carteira</th>
							<th>Conta Participante</th>
							<th>Qtd Custódia</th>
						</tr>
					</thead> 
					<tbody>
						<tr ng-repeat="carteiraParticipante in listaCartParticipante">				
							<td>{{carteiraParticipante.codTipoOpsicaoCarteira}}</td>
							<td>{{carteiraParticipante.codContaParticipante}}</td>
							<td>{{carteiraParticipante.qtdCarteira}}</td>				
						</tr>
					</tbody>	
				</table>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
             <!--  FIM CARTEIRA PARTICIPANTE -->
             
             
             
             <!--  INI CARTEIRA COMITENTE -->
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><b>Carteira Comitente</b></h3>
                </div><!-- /.box-header -->
				
				<small>Localizar Comitente: </small>
				<input type="text" name="buscaComitente" ng-model="codDocumento">
				<button ng-click="obterComitente()">Consultar</button>
				
                <div class="box-body">
                  <table id="tblIF" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Tipo Posição Carteira</th>
							<th>Conta Cliente</th>
							<th>CPF/CNPJ</th>
							<th>Qtd Custódia</th>
						</tr>
					</thead> 
					<tbody>
						<tr ng-repeat="custodia in listaCartComitente">				
							<td>{{custodia.codTipoOpsicaoCarteira}}</td>
							<td>{{custodia.codContaParticipante}}</td>
							<td>{{custodia.codDocumento}}</td>
							<td>{{custodia.qtdCarteira}}</td>				
						</tr>
					</tbody>	
				</table>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
             <!--  FIM CARTEIRA COMITENTE -->
             
             
            <!--  INI AGENDA -->
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><b>Agenda de Eventos</b></h3>
                </div><!-- /.box-header -->
				
                <div class="box-body">
                  <table id="tblIF" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Data OCorrência Evento</th>
							<th>Tipo de Evento</th>
							<th>Valor de PU</th>
							<th>Valor de Evento</th>
							<th>Status do Evento</th>
							<th>Status Final Evento</th>
						</tr>
					</thead> 
					<tbody>
						<tr ng-repeat="evento in listaEvento">				
							<td>{{evento.dataOcorrenciaEvento}}</td>
							<td>{{evento.tipoEvento}}</td>
							<td>{{evento.valorPuEvento}}</td>
							<td>{{evento.valorEvento}}</td>
							<td>{{evento.statusEvento}}</td>
							<td>{{evento.statusFinalEvento}}</td>
						</tr>
					</tbody>	
				</table>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
             <!--  FIM AGENDA -->
              
              
              
              

			<div class="col-md-20">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#activity" data-toggle="tab">Lista de Operações</a></li>
                  <li><a href="#custodia" data-toggle="tab">Custodia</a></li>
                  <li><a href="#agenda" data-toggle="tab">Agenda de eventos</a></li>
                  <li><a href="#confOper" data-toggle="tab">Configuração de Operções</a></li>
                </ul>
                
                
                <div class="tab-content">
                
                  <div class="active tab-pane" id="activity">
                    
                  <!--  INI OPERACAO -->
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><b>Lista de Operações</b></h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                  <table id="tblIF" class="table table-bordered table-hover">
                  
					<thead>
						<tr>
							<th>Código Operacao</th>
							<th>Tipo Operacao</th>
							<th>Data Operação</th>
							<th>Data Financeiro</th>
							
						</tr>
					</thead> 
					<tbody>
						<tr ng-repeat="operacao in listaOperacao">				
							<td>{{operacao.codOperacao}}</td>
							<td>{{operacao.tipoOperacao}}</td>
							<td>{{operacao.dataOperacao}}</td>				
							<td>{{operacao.dataFinanceiro}}</td>
						</tr>
					</tbody>	
				</table>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
             <!--  FIM OPERACAO --> 
                    
                  
                  </div><!-- /.tab-pane -->
                  
                  
                  <div class="active tab-pane" id="custodia">
                    
                  <l>LISTAGEM DE CUSTODIA</l>  
                  
                  </div><!-- /.tab-pane -->
                  
                  
                  
                                    
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->

                    
                    
              
              




                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
      
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->


    <!-- jQuery 2.1.4 -->
    <script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../../plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    
    <!-- DataTables -->
     <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
  </body>
</html>
